.color-black {
	color: #000 !important;
}

.color-white {
	color: #fff !important;
}

.color-aqua {
	color: #00c0ef !important;
}

.color-green {
	color: #00a65a !important;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.margin-top-5-mobile {
	margin-top: 5px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-top-30-mobile {
	margin-top: 30px;
}

@media ( min-width : 768px) {
	.margin-top-5-mobile {
		margin-top: 0;
	}
	.margin-top-30-mobile {
		margin-top: 0;
	}
}